.navcolor {
  background-color: white !important;
}

.cards-contact {
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
}

.cards-contact .icon {
  background-color: #ccff78;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 20px;
  margin-bottom: 10px;
}

.cards-contact h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #222;
  font-weight: 600;
}

.cards-contact p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

.form-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-section {
  flex: 1;
  width: 100%;
  min-width: 450px;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.form-section h2 {
  margin-bottom: 20px;
  color: #123b2c;
}

form .name-row {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

form input,
form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 12px;
  background-color: #F6FFE0;
  font-size: 14px;
  font-weight: 500;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  background-color: #0d3c2a;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;
  transition: background0.3s;
}

button:hover {
  background-color: #0a2e21;
}

.contact-last {
  background-color: #ffe16d;
  border-radius: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: auto;
  padding: 40px;
}

.contact-last-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-last-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.contact-last-2 h3 {
  letter-spacing: -0.5px;
  font-size: 38px;
  font-weight: 700;
  line-height: 130%;
  color: black;
  text-align: justify;
}

.contact-last-2 p {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 170%;
  max-width: 90%;
  color: white;
}

.contact-last-2 button {
  background-color: black;
  border-radius: 5px;
  padding: 8px 15px;
}

.contact-last-2 button a {
  color: white;
  text-decoration-line: none;
  font-size: 18px;
  font-weight: 400;
}

.contact-btn {
  background-color: black;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-btn:hover {
  background-color: #333;
  transform: scale(1.03);
}

.contact-last-1 img {
  height: 43vh;
  border-radius: 20px;
  object-fit: contain;
}


.popup {
  visibility: hidden;
  opacity: 1;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #e9bb06;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
  z-index: 9999;
}

.popup.show {
  visibility: visible;
  opacity: 1;
}